NET "CLK_IN" LOC = "P184" | IOSTANDARD = LVTTL ;
NET "CLKIN_50M" LOC = "P80" | IOSTANDARD = LVTTL ;

NET "RS232_RX" LOC = "p100" | IOSTANDARD = LVTTL ;
NET "RS232_TX" LOC = "p99" | IOSTANDARD = LVTTL ;

##
NET "GPIO_LEDS<0>" LOC = "P49" | IOSTANDARD = LVTTL ;
NET "GPIO_LEDS<1>" LOC = "P50" | IOSTANDARD = LVTTL ;

